<!-- include header -->
    <%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main class="site-main">
    <div class="main-bg">
        <div class="container">
            <div class="background">
                <img src="../img/leaves_bg.svg" alt="leaves background" />
            </div>
            <div class="gecko animate_infinite_alternate">
                <img src="../img/Gecko-transparant.png" alt="Gecko" />
            </div>
            <div class="foreground">
                <img src="../img/leaves_fg.svg" alt="leaves foreground" />
            </div>
        </div>
       
        <div class="main-left">
            <div class="test_block animate_infinite_alternate"></div>
            <div class="leaf_1"></div>
            <img src="../img/leaf-left.gif" alt="leaf left">
        </div>
        <div class="main-right">
            <div class="test_block animate_infinite_alternate"></div>
            <img src="../img/leaf-right.gif" alt="leaf right">
        </div>
    </div>
    <div class="bg-gradient">

    </div>

    <div class="main-content">
        This is a awsome NFT!
    </div>

    <div class="container">
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
        <div>Alot of text</div>
    </div>
</main>
<!-- /Main Site -->


<!-- include footer -->
    <%- include('include/_footer') %>
<!-- /include footer -->